@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #758190;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    
}

.highlight{
    font-weight: 700;
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.game-card, .stats-container {
    transition: box-shadow 0.2s ease-in-out;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    cursor: pointer;
} 

.active-btn{
    background-color: #bde0eb;
    border: 2px solid #8a9ba8;
}

.progress-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
}

.progress-bar {
  background-color: #e6e9ef;
  border-radius: 999px;
  height: 12px;
  width: 100%;
  
}

.progress {
  height: 100%;
  border-radius: 999px;
  background: linear-gradient(90deg, #4facfe, #00f2fe);
  transition: width 0.4s ease;
}

.progress-text {
  font-size: 12px;
  white-space: nowrap;
}